/* src/Container.css */
.container {
    width: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }
  
 