/* src/App.css */
.App {
  text-align: center;
  height: 100%;
  background-image: url('https://image.lexica.art/full_jpg/55dffc6f-ace7-48be-a9ca-6d49d6d4ad7a');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-snap-align: start; 
}

.App-main {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
}


.App-footer {
  padding: 20px;
}

